<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>

	<property resource="application.${ACTIVE_PROFILE}.properties" />

	<!-- <property name="LOGS" value="./logs" />  -->    
	<property name="LOG_PATH" value="${logging.path}"/>
	
	<property name="LOG_FILE" value="${LOG_PATH}/${logging.file}"/>
	<property name="LOG_NORS_FILE" value="${LOG_PATH}/${logging.nors.file}"/>
	<property name="LOG_NEUPC_FILE" value="${LOG_PATH}/${logging.neupc.file}"/>
	<property name="LOG_DAS_FILE" value="${LOG_PATH}/${logging.das.file}"/>
	<property name="LOG_IGMS_FILE" value="${LOG_PATH}/${logging.igms.file}"/>
	<property name="LOG_TLS_FILE" value="${LOG_PATH}/${logging.tls.file}"/>
	
				
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
				<!-- %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable -->
				%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{0} - %msg%n
            </Pattern>
        </layout>
    </appender>
	
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_FILE}.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <!-- <Pattern>%d %p %C{1.} [%t] %m%n</Pattern> -->
             <Pattern>${logging.pattern.file}</Pattern>             
      	</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOG_PATH}/archived/${logging.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>		
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>    
     
    <appender name="norsAPILog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_NORS_FILE}.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <!-- <Pattern>%d %p %C{1.} [%t] %m%n</Pattern> -->
             <Pattern>${logging.pattern.file}</Pattern>             
      	</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOG_PATH}/archived/${logging.nors.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>			
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender> 
    
    <appender name="neupcAPILog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_NEUPC_FILE}.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <!-- <Pattern>%d %p %C{1.} [%t] %m%n</Pattern> -->
             <Pattern>${logging.pattern.file}</Pattern>             
      	</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOG_PATH}/archived/${logging.neupc.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern> 		
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender> 
    
    <appender name="dasAPILog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_DAS_FILE}.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <!-- <Pattern>%d %p %C{1.} [%t] %m%n</Pattern> -->
             <Pattern>${logging.pattern.file}</Pattern>             
      	</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOG_PATH}/archived/${logging.das.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern> 		
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="igmsAPILog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_IGMS_FILE}.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <!-- <Pattern>%d %p %C{1.} [%t] %m%n</Pattern> -->
             <Pattern>${logging.pattern.file}</Pattern>             
      	</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOG_PATH}/archived/${logging.igms.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern> 		
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <appender name="tlsAPILog" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_TLS_FILE}.log</file>      
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
             <!-- <Pattern>%d %p %C{1.} [%t] %m%n</Pattern> -->
             <Pattern>${logging.pattern.file}</Pattern>             
      	</encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily and when the file reaches 10 MegaBytes -->
			<fileNamePattern>${LOG_PATH}/archived/${logging.tls.file}-%d{yyyy-MM-dd}.%i.log</fileNamePattern> 		
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
    </appender>
    
    <!-- LOG everything at INFO level -->
         
    <logger name="com.dxc.imda.cam" level="info" additivity="false">
        <appender-ref ref="RollingFile" />  
        <appender-ref ref="Console" />       
    </logger> 
   
    <logger name="com.dxc.imda.cam.nors" level="info" additivity="false">
        <appender-ref ref="norsAPILog" /> 
        <appender-ref ref="RollingFile" />        
        <appender-ref ref="Console" />              
    </logger>  
    
    <logger name="com.dxc.imda.cam.neupc" level="info" additivity="false">
        <appender-ref ref="neupcAPILog" />
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console" />        
    </logger>   
    
    <logger name="com.dxc.imda.cam.das" level="info" additivity="false">
        <appender-ref ref="dasAPILog" />
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console" />        
    </logger> 
    
    <logger name="com.dxc.imda.cam.igms" level="info" additivity="false">
        <appender-ref ref="igmsAPILog" />
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console" />        
    </logger> 
    
    <logger name="com.dxc.imda.cam.tls" level="info" additivity="false">
        <appender-ref ref="tlsAPILog" />
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="Console" />        
    </logger> 
    
    <root level="info">
    	<appender-ref ref="RollingFile" />   
      	<appender-ref ref="Console" />
    </root>
      
</configuration>